-# frozen_string_literal: true
= simple_form_for(@register) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :email
    = f.label :option, "Option 1", :value => 1
    = f.radio_button :option, 1
    = f.label :option, "Option 2", :value => 2
    = f.radio_button :option, 2, :checked => true

  .form-actions
    = f.button :submit
