<<<<<<< HEAD
%h1 Listing registers
=======
%h1 Listing Registers
>>>>>>> 8a7fbcf0f8dc4b4988c3bfaf22d5043044cb5a6e

%table
  %thead
    %tr
      %th Email
      %th Option
      %th
      %th
      %th

  %tbody
    - @registers.each do |register|
      %tr
        %td= register.email
        %td= register.option
        %td= link_to 'Show', register
        %td= link_to 'Edit', edit_register_path(register)
        %td= link_to 'Destroy', register, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Register', new_register_path
