%p#notice= notice

%p
  %b Your Email:
  = @register.email
%p
  %b Option You Choose:
  = @register.option

= link_to 'Edit', edit_register_path(@register)
\|
/= link_to 'Back', registers_path
= link_to 'Home', root_path