= javascript_include_tag "https://www.gstatic.com/charts/loader.js"

.container.m-0.p-0.w-100
    .row#sessions
        .cotntainer
            .row
                .col-md-3
                    .row.sticky-top{:style => "top:1.0rem"}
                        .col
                            .row.mb-3
                                .col
                                    .card.shadow-sm.sticky-top.mb-3
                                        .card-header
                                            %h5 Sessions
                                        .card-body
                                            %table.table
                                                %tr
                                                    %th Country
                                                    %th Visits
                                                %tbody
                                                    - @Locations.sort_by { |k,v| v }[0..1].to_h.keys.each do |key|
                                                        %tr 
                                                            %td= key
                                                            %td= @Locations[key]
                            .row
                                .col
                                    .card.shadow-sm.sticky-top.mb-3
                                        .card-header
                                            %h5 Registrations
                                        .card-body
                                            %table.table
                                                %tr
                                                    %th Country
                                                    %th Visits
                                                %tbody
                                                    - @Registrations.sort_by { |k,v| v }[0..1].to_h.keys.each do |key|
                                                        %tr 
                                                            %td= key
                                                            %td= @Registrations[key]
                .col-md-9
                    .row.mb-3{:style=>"scroll-snap-align: start;"}
                        .col
                            .card.shadow-sm.sticky-top.mb-3
                                .card-header
                                    %h5 Session Location
                                .card-body.w-100.ratio.ratio-16x9
                                    = geo_chart @Locations, height: "100%", width: "100%", colors: ["#3467eb", "#3467eb"]

                    .row.mb-3{:style=>"scroll-snap-align: center;"}
                        .col
                            .card.shadow-sm.sticky-top
                                .card-header
                                    %h5 Registration Location
                                .card-body.w-100.ratio.ratio-16x9
                                    = geo_chart @Registrations, id: "test", height: "100%", width: "100%"
    .row
        .col-12.mb-3
            .card.shadow-sm.sticky-top
                .card-header
                    %h5 Sessions
                .card-body
                    = line_chart @Metrics.keys.map{|key| {name: key, data: @Metrics[key].group_by_day(:created_at).count}}
    .row
        .col-md-3.mb-3
            .card.shadow-sm.sticky-top
                .card-header
                    %h5 Pricing Options
                .card-body
                    %table.table
                        %tr
                            %th Tier
                            %th Clicks
                        %tbody
                            - @features.keys.each do |key|
                                %tr 
                                    %td= key
                                    %td= @features[key]
        .col-md-9.mb-3
            .card.shadow-sm.sticky-top
                .card-header
                    %h5 Pricing Options
                .card-body
                    = line_chart @Clicks_2.keys.map{|key| {name: key, data: @Clicks_2[key].group_by_day(:created_at).count}}

    
    .row
        .col-md-3.mb-3
            .card.shadow-sm.sticky-top
                .card-header
                    %h5 Feature Clicks
                .card-body
                    %table.table
                        %tr
                            %th Feature
                            %th Clicks
                        %tbody
                            - @features.keys.each do |key|
                                %tr 
                                    %td= key
                                    %td= @features[key]
        .col-md-9.mb-3
            .card.shadow-sm
                .card-header
                    %h5 Feature Clicks
                .card-body
                    = line_chart @features_time.group_by_day(:created_at).count

    .row
        .col-md-5
            .card.shadow-sm.sticky-top.mb-3
                .card-header
                    %h5 Feature Shares
                .card-body
                    %table.table
                        %tr
                            %th
                                Feature
                            %th 
                                %i.fab.fa-facebook-f
                            %th 
                                %i.fab.fa-twitter
                            %th 
                                %i.fas.fa-envelope-square

                            %th Total
                        %tbody
                            - @social_keys.each do |key|
                                %tr 
                                    %td= key
                                    %td= @socials[[key, "facebook"]] ? @socials[[key, "facebook"]] : 0
                                    %td= @socials[[key, "twitter"]] ? @socials[[key, "twitter"]] : 0
                                    %td= @socials[[key, "email"]] ? @socials[[key, "email"]] : 0
                                    %td= (@socials[[key, "email"]] ? @socials[[key, "email"]] : 0) + (@socials[[key, "twitter"]] ? @socials[[key, "twitter"]] : 0) + (@socials[[key, "facebook"]] ? @socials[[key, "facebook"]] : 0)
        .col-md-7.mb-9
            .card.shadow-sm
                .card-header
                    %h5 Feature Shares
                .card-body
                    = line_chart @Clicks_2.keys.map{|key| {name: key, data: @Clicks_2[key].group_by_day(:created_at).count}}
