-# frozen_string_literal: true
= simple_form_for(@review) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    - if user_signed_in? && current_user.internal?
      - if can? :set_live, @review
        = f.input :is_live

  .form-actions
    = f.button :submit