.row
  - if not user_signed_in? or cannot? :edit , Review
    - @reviews.each do |review|
      - if review.is_live
        .card.p-0.mt-4
          .card-body
            .d-flex.flex-column.justify-content-around
              %h4.card-title.mb-0= review.title
              .d-flex.flex-row.justify-content-start.align-items-baseline.mb-4
                - review.rating.times do
                  %span.text-warning
                    %i.fas.fa-star.fa-sm
                %p.small.text-muted.mb-0.ms-2= review.created_at.strftime("%d-%m-%Y")
              %p.card-textSome.overflow-scroll{ :style => "max-height: 400px;" }= review.body
              .d-flex.flex-row.justify-content-between
              %p.small.text-muted #{review.likes} people found this review helpful
  - else
    - @reviews.each do |review|
      .card.p-0.mt-4
        .card-body
          .d-flex.flex-column.justify-content-around
            %h4.card-title.mb-0= review.title
            .d-flex.flex-row.justify-content-start.align-items-baseline.mb-4
              - review.rating.times do
                %span.text-warning
                  %i.fas.fa-star.fa-sm
              %p.small.text-muted.mb-0.ms-2= review.created_at.strftime("%d-%m-%Y")
            %p.card-textSome.overflow-scroll{ :style => "max-height: 400px;" }= review.body
            .d-flex.flex-row.justify-content-between
            %p.small.text-muted #{review.likes} people found this review helpful
