.row.me-lg-4.mt-4
  .card
    .card-body
      .d-flex.flex-row.justify-content-start.align-items-center.mb-2
        %h1.mb-0.me-2= @ratings_metrics[:average]
        .d-flex.flex-row.justify-content-start.align-items-center.me-2
          - @ratings_metrics[:average].round.times do
            %span.text-warning
              %i.fas.fa-star.fa-sm
        %p.small.mb-0.text-muted #{@reviews.count} reviews
      - @ratings_metrics.each do |rating, metrics|
        - if metrics.is_a?(Hash)
          .d-flex.flex-row.justify-content-start.align-items-center.mb-2
            %div{ :style => "width: 15px;" }
              %p.small.mb-0.me-2.text-muted.text-end= rating
            .progress.w-100{ :style => "height: 20px;"}
              .progress-bar{ :role => "progressbar", :style => "width: #{metrics[:rating_percentage]}%; background-color: ##{metrics[:color]};"}
            %div{ :style => "width: 60px;" }
              %p.small.fw-bold.mb-0.me-2.text-end #{metrics[:rating_percentage]}%
