= javascript_pack_tag "reviews"
.row
- @reviews.each do |review|
  .card.mt-4
    .card-body
      .d-flex.flex-column.justify-content-around
        %h4.card-title.mb-0= review.title
        .d-flex.flex-row.justify-content-start.align-items-baseline.mb-4
          - review.rating.times do
            %span.text-primary
              %i.fas.fa-star.fa-sm
          %p.small.text-muted.mb-0.ms-2= review.created_at.strftime("%d-%m-%Y")
        %p.card-textSome.overflow-scroll{ :style => "max-height: 400px;" }= review.body
        .d-flex.flex-row.justify-content-start.align-items-center
          %i.far.fa-heart.text-primary.like.me-2{ id: "like_#{review.id}", onclick: "likeClick(#{review.to_json});" }
          %p.small.text-muted.mb-0{ id: "like_message_#{review.id}" } #{review.likes} people found this review helpful
