%p#notice= notice

%p
  %b Title:
  = @review.title
%p
  %b Body:
  = @review.body
%p
  %b Rating:
  = @review.rating
%p
  %b Likes:
  = @review.likes
%p
  %b Dislikes:
  = @review.dislikes
%p
  %b Is live:
  = @review.is_live

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
