!!!
%html
  %head
    %title NewRailsProject - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_pack_tag    "styles", media: :all
    = javascript_pack_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body.bg-light
    = render 'layouts/svg_logo'

    %header.p-3.mb-3.border-bottom
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          %a.d-flex.align-items-center.mb-2.mb-lg-0.text-dark.text-decoration-none{:href => "/"}
            %svg.bi.me-2{"aria-label" => "Bootstrap", :height => "32", :role => "img", :width => "40"}
              %use{"xlink:href" => "#bootstrap"}
          %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            %li
              = link_to 'Home', root_path, title: 'Go to the home page', class: 'nav-link px-2 link-secondary'
            %li
              %a.nav-link.px-2.link-dark{:href => "#"} Inventory
            %li
              %a.nav-link.px-2.link-dark{:href => "#"} Customers
            %li
              %a.nav-link.px-2.link-dark{:href => "#"} Products
            %li
              %a.nav-link.px-2.link-dark{:href=> "/users/sign_in"} Sign In
            -#if user_signed_in?
              %li
                %a.nav-link.px-2.link-dark=link_to 'Add User',new_user_registration_path
              %li
                %a.nav-link.px-2.link-dark=link_to 'Edit Users', users_path
              %li
                %a.nav-link.px-2.link-dark=link_to 'Sign Out',destroy_user_session_path


          %form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3
            %input.form-control{"aria-label" => "Search", :placeholder => "Search...", :type => "search"}
          .dropdown.text-end
            %a#dropdownUser1.d-block.link-dark.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
              %img.rounded-circle{:alt => "mdo", :height => "32", :src => "https://github.com/epigenesys.png", :width => "32"}
            %ul.dropdown-menu.text-small{"aria-labelledby" => "dropdownUser1", :style => ""}
              %li
                %a.dropdown-item{:href => "#"} New project...
              %li
                %a.dropdown-item{:href => "#"} Settings
              %li
                %a.dropdown-item{:href => "#"} Profile
              %li
                %hr.dropdown-divider/
              %li
                %a.dropdown-item{:href => "#"} Sign out

    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            = msg
            %a{ href: '#', title: 'Hide this message', data: { bs_dismiss: :alert } } Dismiss

    %main
      .container= yield

    %footer.mt-auto.my-5.pt-5.text-muted.text-center.text-small
      %p.mb-1 &copy; epiGenesys #{Date.today.year}
      %ul.list-inline
        %li.list-inline-item
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'
        %li.list-inline-item
          %a{:href => "#"} Terms
        %li.list-inline-item
          %a{:href => "#"} Support