!!!
%html
  %head
    %title Timetabled - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_pack_tag    "styles", media: :all
    = javascript_pack_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body.bg-light

    %header.p-3.mb-3.border-bottom
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          %a.d-flex.align-items-center.mb-2.mb-lg-0.text-dark.text-decoration-none.px-2.border-right.border-primary{:href => "/"}
            .row.text-primary
              .col.my-auto
                %i.fas.fa-table.fa-2x
              .col.my-auto.pt-2
                %h4 Timetabled
          %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            %li
              = link_to 'Home', root_path, title: 'Go to the home page', class: 'nav-link px-2 link-secondary'
            - if not current_user
              %li
                = link_to 'Register Your Interest', new_register_path, title: 'Go to register page', class: 'nav-link px-2 link-secondary'
              //%a.nav-link.px-2.link-dark{:href => "registers/new"} Register Your Interest
            - if cannot? :edit, Review
              %li
                %a.nav-link.px-2.link-dark{:href => "/reviews"} Reviews
            - if cannot? :edit, Question
              %li
                %a.nav-link.px-2.link-dark{:href => "/questions"} FAQs
            - if user_signed_in?
              - if can? :manage, User
                %li
                  %a.nav-link.px-2.link-dark{:href => "/users"} Manage Users
              - if can? :manage, Role
                %li
                  %a.nav-link.px-2.link-dark{:href => "/roles"} Manage Roles
              - if can? :edit, Review
                %li
                  %a.nav-link.px-2.link-dark{:href => "/reviews"} Manage Reviews
              - if can? :edit, Question
                %li
                  %a.nav-link.px-2.link-dark{:href => "/questions"} Manage FAQs
              %li
                = link_to("Sign Out", destroy_user_session_path, method: :delete, class: "nav-link px-2 link-dark")

    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            = msg
            %a{ href: '#', title: 'Hide this message', data: { bs_dismiss: :alert } } Dismiss

    %main
      .container= yield

    %footer.mt-auto.my-5.pt-5.text-muted.text-center.text-small
      %p.mb-1 &copy; epiGenesys #{Date.today.year}
      %ul.list-inline
        %li.list-inline-item
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'
        %li.list-inline-item
          %a{:href => "#"} Terms
        %li.list-inline-item
          %a{:href => "#"} Support
      %ul.list-inline
        %li.list-inline-item
          %a{:href => "https://storyset.com/people"} People illustrations by Storyset
        %li.list-inline-item
          %a{:href => "https://fontawesome.com"} Icons by Font Awesome